/*main*/
body{
    margin: 2px;
    padding: 0;
}

@font-face {
    font-family: Andromeda-Delta;
    src: url(./font/Andromeda-Delta.ttf);
}

.two {
    padding-left: 50px;
}
.tres{
    padding-left: 100px;
}
.four{
    padding-left: 150px;
}
.five{
    padding-left: 200px;
}


/*Home*/
.main{
    background-image: url(./images/main12.jpg);
    background-repeat: no-repeat;
    padding-top: 0;
    padding-bottom: 50px;
    height: 500px;
    width: auto;
}
.mainP h1{
    padding: 150px 100px 100px 150px;
    margin: 0;
    text-align: left;

    font-family: Andromeda-Delta;
    font-weight: 900;
    color: whitesmoke;
    font-size: xxx-large;
}


/*intro */
.intro{
    display: flex;
    padding: 50px 20px 50px 20px;
}
.leftSide{
    padding: 20px;
    
}
.intro img{
    padding: 10px;
    border-radius: 10px;
}
.intro h1{
    font-family: Andromeda-Delta;
    color: #00308F;
    font-size: xxx-large;
    font-weight: 900;
}
.intro p{
    color: #002D62;
    background: darkgray;
    color: #fff;;
    padding: 20px;
}
.intro a {
    text-decoration: none;   
    color: blue;
}




/*ready */
.Ready{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background-color: #00308F;
    color: whitesmoke;
    padding: 50px 20px 50px 20px;
}
.Ready img{
    grid-template-rows: repeat(2, 50%);
    height: auto;
    width: 600px;
    border-radius: 5px;
}
.Ready a:hover{
    opacity: .5;
}
#Start{
    padding-top: 50px;
}
#Office{
    padding-top: 60px;
    padding-left: 100px;
}


/*weDo*/
.weDo{
    color: #00308F;
    padding: 50px 20px 25px 50px;
    
}
.queHacemos{
    display: grid;
    grid-template-columns: repeat(3, auto);
    
    
}
.weDo h1{
    font-size: xxx-large;
    margin: 10px 10px 5px 10px;
}
.weDo p{
    margin-bottom: 5px;
    float: right;
}
.weDo h2{
    color: #002D62;
    padding: 25px;
}
.weDo img{
    height: 150px;
    border-radius: 50%;
    width: 150px;
}

.weDo a:hover{
    opacity: .5;
}


/*different*/
.different{
    display: flex;
    flex-direction: column;
    background-color: #00308F;
    color: whitesmoke;
    padding: 50px 20px 25px 20px;
    
}

.different h1 {
    font-size: xxx-large;
    margin: 20px;
}

.different img{
    height: 150px;
    border-radius: 50%;
    width: 150px;
    padding: 25px;
}
