*{
    margin: 2px;
    padding: 0;
}

@font-face {
    font-family: Andromeda-Delta;
    src: url(./font/Andromeda-Delta.ttf);
  }

/*menu*/



.menu{
    font-family: Andromeda-Delta;
    text-align: left;
    font-size: 29px;
    background-color: #00308F;
    padding: 10px;
}

.menuDerecha{
    float: right;
}

.menu a{
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
}

.menu a:hover{
    background-color: darkgray;
}

