
@font-face {
    font-family: Andromeda-Delta;
    src: url(./font/Andromeda-Delta.ttf);
}

.main{
    background-image: url(./images/headerfinish.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 0;
    padding-bottom: 50px;
    
}
.mainP h1{
    padding: 150px 100px 100px 150px;
    margin: 0;
    text-align: center;

    font-family: Andromeda-Delta;
    font-weight: bolder;
    color:#FFD700;
    font-size: xxx-large;
}
